<% layout('layouts/boilerPlate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%=campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=campground.title%></h5>
              <p class="card-text text-muted"><%=campground.location%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=campground.description%></li>
              <li class="list-group-item">$<%=campground.price%>/night</li>
            </ul>
            <div class="card-body d-flex justify-content-around">
              <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info">Edit</a>
              <form class="" action="/campgrounds/<%=campground._id%>?_method=DELETE" class="flex" method="POST">
                <button class="card-link btn btn-danger float-right">Delete</button>
            </form>
            </div>
            <div class="card-footer text-center">
                <a href="/campgrounds" class="text-muted">Back to all campgrounds</a>
            </div>
          </div>
    </div>
</div>